#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.borde1{
    border: 1px solid red;
}
.borde2{
    border: 1px solid green;
}
main {
    height: 100%;
}

main a, main label{
    display: block;
}

footer{
    padding-top: 15px;
    height: 80px;
    background-color: rgb(87, 86, 86);
    color: #fff;
    text-align: center;
}

footer p{
    padding: 0;
    margin: 0;
}

.login{
    margin-top: 3em;
    height: fit-content;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
}

ul li{
    list-style: none;
    text-emphasis: none;
}
thead{
    background-color: #b0b0b0;
}

.caja{
    height:fit-content;
}

.ficha{
    background-color: #b0b0b0;
}

.caja div{
    padding: 1em;
    height: fit-content;
}

span{
    font-size: 0.75em;
    font-style: italic;
    color:#3883df
}